<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ktgdbConnectionString" connectionString="Data Source=knowthygov.database.windows.net;Initial Catalog=ktgdb;User ID=ktgmaster;Password=BFr@nklin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>